.logincard{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}

.formcontrol{
    width: 75%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

@media (min-width:200px) and (max-width:768px){
    
    .forminput{
        flex-direction: column;
    }
    .forminput>label{
        margin-bottom: 0.5rem;
    }
    
    }

@media (min-width:768px){
    .navbar-toggler-icon{
        display: none;
        visibility: hidden;
    }
    .navbtn{
        display: none;
        visibility: hidden;
    }
}

input::-webkit-input-placeholder { 
    font-style: italic;
}
/*firefox 19+ versions*/
input::-moz-placeholder {
    font-style: italic;
}
/*IE  versions*/
input::-ms-placeholder {
    font-style: italic;
}

input::placeholder {
    font-style: italic;
}

.tablelink{
    text-decoration: underline;
}

.tablelink:hover{
    font-weight: bold;
}

.profile-card{
    margin-left: 15%;
    margin-right: 15%;
}